@import "/styles/_Theme.scss";

.content-blocks {
	flex-direction: column;
	overflow-y: scroll;
	padding-bottom: 200px;
}

.content-blocks > *
{
	flex-shrink: 0;
}

.cblock
{
	width: 100%;
	max-width: $screen-w-xl;
	margin: auto;
	flex-direction: column;
	flex-shrink: 0;
	padding: 1rem 0;
	align-items: flex-start;

	&:hover {
		z-index: 100;
	}
}