@import "/styles/_theme.scss";

$mask-w: 100px;
$mask-w-padded: 132px; // + 32px

ContentBlockBody
{
	position: relative;
	width: 100%;
	max-width: 100%;

	&:hover
	{
		.visible
		{
			opacity: 1;
			cursor: pointer;
			pointer-events: all;
		}
	}

	> .content-wrapper
	{
		padding-top: 16px;
		padding-bottom: 48px;
	}

	> .content
	{
		margin-left: -$mask-w;
		margin-right: -$mask-w;
		padding-left: $mask-w-padded;
		padding-right: $mask-w-padded;
		padding-top: 16px;
		padding-bottom: 16px;
		overflow-x: scroll;
		overflow-y: hidden;
		gap: 1rem;
	}

	> .overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 98;

		.fade-left
		{
			position: absolute;
			left: -$mask-w;
			width: calc($mask-w + 38px);
			height: 100%;
			background-color: $default-950;
			mask: linear-gradient( to left, black 0%, white 90%);
		}

		.fade-right
		{
			position: absolute;
			right: -$mask-w;
			width: calc($mask-w + 38px);
			height: 100%;
			background-color: $default-950;
			mask: linear-gradient( to right, black 0%, white 90%);
		}
	}

	> .nav-button
	{
		@include border;
		position: absolute;
		z-index: 99;
		width: 42px;
		aspect-ratio: 1;
		border-radius: 50%;
		align-self: center;
		justify-content: center;
		padding: 0;
		background-color: $default-950;
		opacity: 0;
		transition: all 0.1s ease;

		.icon
		{
			font-size: 21px;
			color: #70788b;
			transition: all 0.1s ease;
		}

		&:active
		{
			sound-in: "ui.button.press";
		}

		&:hover
		{
			sound-in: "ui.button.over";
			background-color: $default-800;

			.icon
			{
				color: white;
			}
		}

		&.left
		{
			left: 16px;
		}

		&.right
		{
			right: 16px;
		}
	}
}
